@font-face {
    font-family: "raleway-regular"; 
    src: url("../fonts/raleway-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 

@font-face {
    font-family: "montserrat-regular"; 
    src: url("../fonts/montserrat-regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: 400; 
} 


body {
    margin: 0;
}

.head {
    background: no-repeat url(../img/head_bg.jpg);
    background-size: 100%;
}

.top-menu {
        display: flex;
        justify-content: space-evenly;
        padding: 40px 100px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    color: #fff;
    height: 56px;
}

.logo-svg {
    fill: currentColor;
}

.logo-txt {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    text-align: right;
}

.logo:hover, .logo-txt:hover {
  color: #998675;
}

.nav-top-menu {
    margin: 20px 0 0 0;
}

.nav-top-menu-items {
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-transform: capitalize;
    margin: 0 10px;
    text-decoration: none;
}

.nav-top-menu-items:hover {
    color: #c7b299;
}

.top-menu-right {
    display: flex;
    justify-content: flex-start;
}

.cart {
    display: block;
    background: no-repeat url("../img/cart.svg"); 
    width: 25px;
    height: 24px;
    outline: none;
    background-size: contain;
    background-position: center;
    margin: 14px 15px 0 0;
}

.cart:hover {
    border-bottom: 2px solid #fff;
}

.form {
    width: 200px;
    margin: 15px 0 0 0;
}

.search {
    width: 24px;
    height: 24px;
    outline: none;
    background: no-repeat url("../img/search.svg");
    background-size: contain;
    border: none;
}

.search:hover {
    border-bottom: 2px solid #fff;
}

.search:focus {
    background-position: right;
    color: #fff;
    border: 1px solid #fff;
    transition: width 1s ease;
    width: 200px;
}

.search::-ms-clear {  display: none; width : 0; height: 0; }
.search::-ms-reveal {  display: none; width : 0; height: 0; }
.search::-webkit-search-decoration,
.search::-webkit-search-cancel-button,
.search::-webkit-search-results-button,
.search::-webkit-search-results-decoration { display: none; }


.headblock {
    width: 100%;
    min-height: 490px;
    margin-top: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 4;
}

.slider {
    width: 60px;
    height: 60px;
    text-decoration: none;
    border: none;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    align-self: center;
    display: block;
    transform: rotate(-45deg);
}

#right {
    transform: rotate(135deg);
}

.slider:hover {
    border-top: 2px solid #FF9B40;
    border-left: 2px solid #FF9B40;
}

.title {
    width: 589px;
    font-family: 'raleway-regular', 'arial', sans-serif;
    line-height: 1.2;
    color: #ffffff;
    text-align: center;
}

.title-title {
    font-family: Raleway;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
}

.title-product {
    font-size: 52px;
    font-weight: 800;
    margin: 14px 0 19px 0;
}

.title-description {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300; 
    line-height: 24px;
}

.title-btn {
    margin: 52px auto 0 auto;
}

.pagination {
    width: 100%;
    align-self: flex-end;
    margin: 0 0 42px 0;
}

.pagination-box {
    margin: 0 auto;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.pagination-button {
    display: block;
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid transparent;
}

.pagination-button:hover {
    background-color: #FF9B40;
    opacity: 1;
    transform: scale(1.2);
    border: 2px solid #ccc;
}

.service {
    padding: 80px 177px;
    display: flex;
    justify-content: space-evenly;
}

.service-box {
    width: 266px;
    text-align: center;
    color: #555555;
    fill: #555555;
    position: relative;
}

.service-box:hover {
    fill: #c7b299;
}

.service-box:after {
    content: "";
    display: block;
    width: 60px;
    position: absolute;
    border-bottom: 3px solid rgba(199,178,153, .5);
    top: 226px;
    left: 105px;
}

.service-box:hover:after {
    border-bottom: 3px solid rgba(199,178,153, 1);;
}


.service-box-title {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.service-box:hover .service-box-title {
    color: #c7b299;
}

.service-box-text {
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
}

.template {
    padding: 0 100px;
    background-color: #fbfaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-title {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.teplate-text {
    width: 757px;
    text-align: center;
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
}

.template-img {
    width: 100%;
    min-height: 482px;
    background-image: url('../img/template_main.jpg'), url('../img/template_left.jpg'), url('../img/template_right.jpg');
    background-repeat: no-repeat;
    background-position: center bottom, 30% bottom, 70% bottom; 
/*    тут я не понял, как правильно прикрутить нижние к главной, они в любом случае ж уедут?*/
}

.satisfaction {
    background-color: #4e3427;
    padding: 48px 350px;
    display: flex;
    justify-content: space-between;
}

.satisfaction-title {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin: 0 0 8px 0;
}

.satisfaction-brand {
    color: #c7b299;
}

.satisfaction-text {
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
    margin: 0;
}

.push-me {
    text-decoration: none;
    width: 170px;
    min-height: 50px;
    background-color: #998675;
    border-radius: 3.0px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.touch-me {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
}

.push-me:hover {
    background-color: #FF9B40;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(107,146,255,0.82);
    -moz-box-shadow: 0px 0px 23px -1px rgba(107,146,255,0.82);
    box-shadow: 0px 0px 23px -1px rgba(107,146,255,0.82);
}

.push-me:active {
    background-color: #000;
    -webkit-box-shadow: 0px 0px 48px 10px rgba(107,146,255,0.82);
    -moz-box-shadow: 0px 0px 48px 10px rgba(107,146,255,0.82);
    box-shadow: 0px 0px 48px 10px rgba(107,146,255,0.82);
}

.examples {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.examples-title {
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}

.examples-text {
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    width: 757px;
    text-align: center;
}

.examples-menu {
    width: 700px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.examples-menu-item {
    color: #fff;
    border: 1.0px solid #ebebeb;
    border-radius: 3.0px;
    padding: 10px 24px; 
    text-decoration: none;
}

.examples-menu-item-text {
    font-family: 'montserrat-regular', 'arial', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
}

.examples-menu-item:hover {
    background-color: #998675; 
}

.examples-menu-item:hover .examples-menu-item-text {
    color: #ffffff;
}

.article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1170px;
}

.article-block-item:nth-child(3n-1) {
    margin: 30px 30px 0 30px;
}

.article-block-item {
    width: 370px;
    position: relative;
    margin-top: 30px;
}


.article-image {
    display: block;
}

.article-block-item:hover .article-image {
    filter: brightness(33%);
}

.article-txt-wrp {
    background-color: #fbfaf8;
    padding: 30px;
}

.article-block-item:hover .article-txt-wrp {
    background-color: #362f2d;
}

.article-title {
    margin: 0;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    display: inline-block;
    width: 100%;
}

.article-txt {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
}

.article-block-item:hover .article-title {
    color: #fff;
}

.article-block-item:hover .article-txt {
    color: #c7b299;
}

.article-btn-link, .article-btn-search {
    position: absolute;
    height: 26px;
    width: 26px;
    background: transparent;
    border: none;
}

.article-btn-link {
    top: 30%;
    left: 38%;
    background-image: url("../img/article_link.svg");
    display: none;
}

.article-block-item:hover .article-btn-link {
    display: block;
}

.article-block-item:hover .article-btn-link:hover {
    background-image: url("../img/article_link_hover.svg");
}

.article-btn-search {
    top: 30%;
    left: 56%; 
    background-image: url("../img/article_search.svg");
    display: none;
}

.article-block-item:hover .article-btn-search {
    display: block;
}

.article-block-item:hover .article-btn-search:hover {
    background-image: url("../img/article_search_hover.svg");
}

.article-block-item:nth-last-child(2) {
    margin-bottom: 40px;
}

.load-articles {
    min-height: 50px;
    background-color: #998675;
    border-radius: 3px;
    border: transparent;
    font-family: 'raleway-regular', 'arial', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    width: 170px;
}